html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.warp{
			width:1366px;
			height:1000px;
			/*background-color:red;*/
			margin:0px auto;
		}
		.banner{
			position:relative;
			width:100%;
			height:770px;
			background-color:blue;
			background: url("./gallery2/quotientChart.png");
		}
		.banner .logo{
			width:33px;
			height:50px;
			background: url("./gallery2/logo.png");
			background-size: 100% 100%;
			position:absolute;
			top:50px;
			left:95px;
		}
		.banner-title{
			width:100px;
			height:100px;
			background:red;
			position:absolute;
			top:150px;
			left:195px;
		}
		.mean{
			width:285px;
			height:100%;
			background-color:#dcdcdc;
			position:absolute;
			top:0px;
			right:0px;
		}
		.mean .close{
			width: 17px;
		    height: 16px;
		    background: url(./gallery2/close.png);
		    background-size: 100% 100%;
		    margin-left: 230px;
		    margin-top: 47px;
		    margin-bottom: 102px;
		}
		.nav{
			margin-left: 66px;
		}
		.nav p{
			font-size:16px;
			color:#000;
			font-weight: 600;
		}
		.nav p.linkMtop{
			margin-top:60px;
			margin-bottom:60px;
		}
		.nav p.homeMbottom{
			margin-bottom:60px;
		}
		.nav p.aboutMtop{
			margin-top:60px;
		}
		.nav ul{
			list-style-type: none;
		}
		.nav ul li{
			position: relative;
			color:#666666;
			font-size:14px;
			margin-top:10px;
			margin-bottom:10px;
			cursor: pointer;
		}
		.nav ul li i{
			width:7px;
			height:14px;
			background: url(./gallery2/rightico.png);
		    background-size: 100% 100%;
			position: absolute;
			left: -15px;
			top:0px;
		}
