	*{
			margin:0px;
			padding:0px;
		}
		.ibaotusofa{
			position: relative;	
			width:1366px;
			height:768px;
			background-image:url("./gallery/sofa.jpg");
			margin:auto;
			background-size: 100% 100%;
		}
		.ibaotusofa img{
			width:100%;
			height:100%;
		}
		.logo{
			position: absolute;
			width:34px;
			height:50px;
			margin-top:47px; 
			margin-left:93px;
			background:block;
		}
		.logo img{
			width:100%;
			height:100%;
		}
		.options{
			position: absolute;
			top:49px;
			right:76px;
			width:27px;
			height:20px;
		}
		.optione img{
			width:100%;
			height:100%;
		}
		.introduction{
			position: absolute;
			width:899px;
			height:123px;
			left:235px;
			top:209px;
		}
		.introduction .title{
			font-size:30px;
			font-weight:bold;
			color:#000;
			letter-spacing:2.6em;
		}
		.introduction .slogan{
			height:49px;
			width:520px;
			color:#666666;
			font-size:13.96px;
			margin:49px auto 0px;
			letter-spacing:0.45px;
		}
		.rotation{
			position: absolute;
			width:649px;
			height:73px;
			background:#655750;
			bottom: 46px;
			left:185px; 
		}
		.numeral{
			width:11px;
			height:9px;
			float:left;
			color:#fff;
			margin-top:30px;
			margin-left:83px;
		}
		.rotation .low {
			float:left;
			margin-top:26px;
			margin-left:36px;
		}
		.right{
			margin-left:25px;
			margin-right:83px;
		}
		.details{
			position: absolute;
			width:133px;
			height:73px;
			right:169px;
			bottom: 46px;
		}
		.details p{
			font-size:13.98px;
			color:#6b5b58;
		}
		.details .btn{
			width:134px;
			height:30px;
			background:#6b5b58;
			line-height: 30px;
			color:#fff;
			margin-top:17px;
			font-size:14px;
		}
		.details .btn span{
			margin-left:23px;
		}
		.btn img{
			width:31px;
			height:7px;
			margin-left:12px; 
			margin-bottom: 3px;
		}