		.quotientr{
			width:1416px;
			height:46px;
			color:#fff;
			margin:0px auto;
		}
		.shangHai{
			float:left;
			color:#a0a1a4;
			padding-top:18px;
			font-size:16px;
			font-family:"黑体";
		}
		.registered{
			float:right;
			width:250px;
			height:100%;
		}
		.login{
			font-family:"黑体";
			float: left;
			color:#a0a1a4;
			font-size:17px;
			padding-top:18px;
			padding-right:22px;
		}
		.car{
			float:left;
			display:block;
			height:18px;
			padding-left:18px;
			margin-top: 15px;
		}
		.shoppingCart{
			font-family:"黑体";
			float: right;
			width:138px;
			height:46px;
			color:#fff;
			background:#ed712d;
			float:right;
			/*padding-left: 5px;*/
			font-size: 17px;
		}
		.shoppingCart p{
			font-size:15px;
			padding-top:17px;
		}
		.logo{
			float:left;
			width:146px;
			height:41px;
			margin-top:9px;
			margin-left:14px;
		}
		.logo img{
			font-size:100% 100%;
		}
		.nav ul{
			float:left;
			width:750px;
			height:41px;
			margin-left:125px;
		}
		.nav ul li{
			font-weight: bold;
			font-family:"黑体";
				font-size:16px;
				float:left;
				padding-top: 23px;
				padding-right: 65px;
		}
		.input{
			float:right;
			width:340px;
			height:56px;
			border:1px solid #ccc;
		}
		.inp{
			float:left;
			width:281px;
			height:54px;
			border:0px;
		}
		.magn img{	
			margin:18px 0px 0px 19px;
		}
		.magnifier{
			float:left;
			width:54px;
			height:100%;
			border-left:1px solid #ccc;
		}
		.msg p{
			color:#6d6d6d;
			font-weight: bold;
			font-family:"黑体";
			font-size:13px;
			width:242px;
			height:15px;
			margin-left:247px;
			padding-top: 39px;
			margin-bottom:15px;
		}
		.more{
			display:block;
			float:right;
			margin-top:-9px;
			height:14px;
			padding:8px;
		}
		.problem{
			overflow: hidden;
			width:1415px;
			height:2016px;
			margin-left: 247px;
		}
		.invoice{
			width:273px;
			height:428px;
			float:left;
			background:#ffffff;
		}
		.invoice_list{
			width:219px;
			height:315px;
			margin:64px 0px 0px 54px;
		}
		.monad{
			font-size:28px;
			font-family:"黑体";
			padding-bottom:40px;
		}
		.list{
			font-size:16px;
			padding-bottom:18px;
		}
		.heng{
			width:97px;
			height:1px;
			margin-top:25px;
			background:#ccc;
		}
		.service{
			font-size:18px;
			padding-top:30px;
			padding-bottom:16px;
		}
		.electronicInvoice{
			float:right;
			width:1126px;
			height: 1998px;
			margin-left:16px;
			background:red;
		}
		.ul{
			height:100%;
			width:100%;
		}
		.ul li{
			width:1070px;
			background:#fff;
			font-family:"幼圆";
			padding-left:59px;
			line-height: 80px;
			border-top:1px solid #ccc;
			border-bottom:1px solid #f0eeee;
			font-size:20px;
		}
		.i{
			float:right;
			display: block;
			width:20px;
			height:12px;
			margin:0px 30px 0px 0px;
			height:80px;
		}
		.height{
			width:100%;
			background:#fbfbfb;
			height:296px;
		}
		.height p{
			font-size:20px;
			line-height:36px;
			padding-top:39px;
			padding-left:55px;
		}
		.what{
			font-size:19px;
			height:80px;
			color:#ed712e;
			font-family:"幼圆";
		}
		.copyright{
			width:1416px;
			height: 100%;
			margin:0px auto;
		}
		.icon{
			float:left;
			width:265px;
			height:265px;
			margin:55px 120px 0px 109px;
		}
		.end{
			width:215px;
			height:62px;
			margin:0px auto;
		}
		.white{
			width:165px;
			height:165px;
			margin:38px auto 0px;
			background:white;
		}
		.address{
			float:left;
			width:462px;
			height:323px;
			margin-top:72px;
		}
		.network{
			font-size:20px;
			font-family:"幼圆";
			padding-bottom:55px;
		}
		.postcode{
			width:369px;
			height:130px;
		}
		.postcode p{
			font-size:16px;
			padding-top:22px;
		}
		.beiJing{
			float:left;
			font-family:"幼圆";
			
			padding:79px 0px 0px 0px;
			font-size:16px;
		}
		.right{
			float:right;
			font-family:"幼圆";
			padding:79px 0px 0px 80px;
			font-size:16px;
		}
		.btn{
			margin:63px 0px 0px 36px;
			float:left;
			width:372px;
			height:330px;
		}
		.btn span{
			font-size:13px;
			padding-top:28px;
		}
		.btn input{
			width:316px;
			height:26;
			background:#2e2c2f;
			margin-bottom: 14px;
			border:3px solid #fff;
		}
		.textarea{
			float:right;
			margin-right:8px;
			width:316px;
			height:117px;
			border:3px solid #fff;
		}
		.submit{
			width:90px;
			height:30px;
			line-height: 30px;
			font-size:16px;
			float:right;
			margin-top:15px;
			margin-right:116px;
			border-radius: 50px 50px 50px 50px;
			text-align: center;
			color:#2e2c2f;
			background:#fff;
		}